/** Accordion */
.waccordion,
.waccordion__item {
    border: 1px solid rgba(0, 0, 0, .1);
}

.waccordion,
.waccordion__item,
.waccordion__header,
.waccordion__body,
.waccordion__icon {
    padding: 1rem;
}

.waccordion,
.waccordion__header,
.waccordion__item,
.waccordion__inserter {
    border-radius: .75rem;
}

.waccordion__header,
.waccordion .block-list-appender,
.waccordion__inserter {
    position: relative;
    width: 100%;
}

.waccordion span::before {
    line-height: 120%;
}

.waccordion__inserter {
    border: 1px solid;
}

.waccordion__header {
    background-color: whitesmoke;
    box-sizing: border-box;
    cursor: pointer;
}

.waccordion__title {
    font-size: 1.25em;
    margin: 0;
    margin-right: 3.5rem;
}

.waccordion__text {
    background-color: white;
    cursor: text;
    display: inline-block;
    max-width: 100%;
    min-width: 240px !important;
    padding: .15rem .75rem;
}

.waccordion__icon {
    height: 1.5em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5em;
    z-index: 2;
}

.waccordion__body {
    display: none;
}

/** Iframe */
.wiframe {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .75rem;
    padding: 1rem;
}

.wiframe__title {
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    display: block;
    margin-top: 0;
    padding: .5rem;
    width: 100%;
}

.wiframe__wrapper {
    background-color: whitesmoke;
    padding: 1.5rem;
}

.wiframe__p {
    margin-top: 0;
    text-align: center;
}

.wiframe__inner {
    margin: auto;
    width: 45%;
}

.wiframe__preview {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.wiframe__preview iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.wiframe__invalid {
    background-color: red;
    color: whitesmoke;
    font-size: .9em;
    margin: 0;
    padding: .5rem;
    text-align: center;
}

/** Posts */
.wposts {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, .1);
    color: white;
    margin: 0;
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
}

/**
 * Media Qs
 * */

@media screen and (max-width: 912px) {
    .wiframe__inner {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .wiframe__inner {
        width: 100%;
    }
}